/* Glitten, serif */
@font-face {
  font-family: "Glitten-Regular";
  src: url('assets/Glitten-Regular.otf');
}

@font-face {
  font-family: "Glitten-Caps";
  src: url('assets/GLITTEN\ ALL\ CAPS.ttf');
}


#colors {
  color: #F7E1D7;
  color: #A3C4BC;
  color: #DEDBD2;
  color: #E7EFC5;
  color: #BFD7B5;
  color: #413C58;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color: #FBFBFB;
  scroll-behavior: smooth;
  height: 100%;
  cursor: default;
  background-image: url("images/waterfall.png");
}

a {
  text-decoration: none;
}

/* -------------------------------- Text -------------------------------- */

h1 {
  font-family: 'Glitten-Regular';
  font-size: 24pt;
  color: #413C58;
}

h2 {
  font-family: 'Glitten-Regular';
  font-size: 24pt;
  color: #413C58;
}

body {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #413C58;
}

#intro {
  height: 700px;
  background-color: #BFD7B5;
}

.section {
  height: 1126px;
}

#about {
  background-color: #F7E1D7;
}